@import "../scss/preboot";
@import "../scss/vars";

html, body {
  background-color: #1c57a2;
  color: white;
  .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 270px;
    left: -270px;
    height: 100vh;
    background-color: #182325;
    @include transition(left 0.3s ease-in-out);
    .title {
      line-height: 56px;
      padding: 0 15px;
      background-color: #1c57a2;
      font-size: 19px;
    }
    ul {
      height: calc(100vh - 56px);
      overflow: auto;
      &, li {
        display: block;
        margin: 0;
        padding: 0;
      }
      li {
        border-bottom: 1px dotted rgba(white, 0.3);
      }
      a {
        display: block;
        line-height: 40px;
        padding: 0 15px;
        color: white;
      }
    }
  }
  @media (max-width: 768px) {
    &.show-menu .menu-mobile {
      left: 0;
    }
  }
}

body {
  background-color: #182325;
  @media (max-width: 768px) {
    padding-top: 55px;
  }
}

select {
  optgroup, option {
    color: rgba(black, 0.8);
  }
}

.lw-header {
  @include gradient-vertical(#2660a8, #3ca2d8);
  color: white;
  .brand {
    height: 85px;
  }
  @media (max-width: 768px) {
    padding: 5px 0;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    .brand {
      height: 45px;
    }
  }
  hr {
    border-color: #4a99ce;
    margin: 0;
    padding: 0;
  }
  ul, li {
    display: block;
    padding: 0;
    margin: 0;
  }
  .menu li {
    display: inline-block;
    a {
      line-height: 42.5px;
      display: block;
      padding: 0 15px;
      color: inherit;
      text-decoration: none;
      &:hover {
        background-color: rgba(white, 0.2);
      }
      &.active {
        background-color: rgba(black, 0.5);
      }
    }
  }
}

.lw-rodape {

  background-color: #1c57a2;
  font-size: 13px;
  color: white;
  padding: 20px 0;
  ul, li {
    margin: 0;
    padding: 0;
    display: block;
  }
  li {
    display: inline-block;
    padding: 0 8px 0 5px;
    line-height: 13px;
    &:not(:last-child) {
      border-right: 1px solid white;
    }
    a {
      color: inherit;
    }
  }
}

#pg-aposta {

  .col-campeonatos {
    .col-content {
      width: 320px;
    }
    .form-bilhete {
      background-color: #00a8ff;
      .title {
        margin: 0;
        background-color: #0097e6;
        text-align: center;
        line-height: 35px;
        text-transform: uppercase;
        font-size: 14px;
      }
      .form-control {
        border-radius: 0;
        background-color: transparent;
        color: white;
        @include placeholder(rgba(white, 0.75));
      }
    }
    .menu-comapeonatos {
      background-color: #2e3437;
      position: relative;
      .title {
        background-color: #245da4;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 35px;
        margin: 0;
      }
      a {
        color: #9d9f9a;
        font-size: 14px;
        line-height: 30px;
        padding: 0 15px;
        background-color: #3c4042;
        display: block;
        border: 1px solid #252525;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.active {
          color: $yellow;
        }
      }
      ul, li {
        display: block;
        margin: 0;
        padding: 0;
      }
      ul {
        min-height: calc(100vh - 85px - 61px - 89px - 4.5rem - 35px);
        margin-bottom: 1.5rem;
        padding: 10px;
      }
      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .col-jogos {
    .form-jogos {
      background-color: #0097e6;
      padding: 15px;
      .form-control {
        border-radius: 0;
        background-color: transparent;
        color: white;
        @include placeholder(rgba(white, 0.75));
      }
    }
  }

  .col-bilhete {
    background-color: #1b334a;
    .col-content {
      position: -webkit-sticky;
      position: sticky;
      top: 1.5rem;
      @media (min-width: 769px) {
        width: 280px;
        .bilhete-overflow {
          overflow: auto;
          height: calc(100vh - 85px - 61px - 45px - 16px - 38px - 3rem);
        }
      }
    }
  }

  .bilhete {
    border-top: 16px solid #1c57a2;
    background-color: #2e3437;
    .title {
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      line-height: 45px;
      margin: 0;
    }
    hr {
      margin: 12px 0;
      border-color: #4b5052 !important;
    }
    .table-bilhete {
      &, td, tr, th {
        border: none;
      }
      font-size: 12px;
      .time {
        color: $yellow;
      }
      .cotacao {

      }
      .data {
        @include opacity(0.5);
      }
    }
  }
}

.table-jogos {
  margin: 0;
  font-size: 11px;
  tbody {
    border: none;
    a {
      color: inherit;
    }
    tr, td, th {
      vertical-align: middle;
    }
    tr {
      color: #dfdfdf;
      border: none;
    }
    td {
      padding-top: 3px;
      padding-bottom: 3px;
      background-color: #434444;
      border-bottom: 1px solid #111315;
      border-top: 1px solid #686969;
      &.td-cotacao {
        width: 5px;
        padding: 3px !important;
        &.td-cotacao-mais .btn-cotacao {
          background-color: transparent;
          color: white;
        }
      }
    }
    tr.campeonato {
      font-size: 13px;
      font-weight: bold;
      color: white;
      td {
        background-color: #2b3135;
        line-height: 35px;
      }
    }
    .btn-cotacao {
      width: 42.5px;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #2e3437;
      color: $yellow;
      line-height: 40px;
      &.active {
        background-color: rgba($yellow, 0.7);
        color: white;
      }
    }
  }
}

#modal-cotacoes .btn-cotacao {
  width: 60px !important;
  line-height: normal;
}

.page-title {
  background-color: rgba(black, 0.21);
  padding: 0 15px;
  color: white;
  .title {
    font-size: 23px;
    line-height: 60px;
    margin: 0;
  }
}

.page-subtitle {
  background-color: rgba(black, 0.15);
  color: whitesmoke;
  padding: 0 15px;
  font-size: 18px;
  line-height: 45px;
  margin: 0;
}

.block-text {
  padding: 1.5rem;
  color: #555;
  font-size: 16px;
  background-color: white;
}

.modal-content {
  background-color: #182325;
}

.table, .card {
  color: black;
}

.card-footer .pagination {
  margin: 0;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  body {
    padding-top: 56px;
  }
  .lw-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.comunicados {
  .comunicado {
    background-color: #1b334a;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    .header {
      background-color: rgba(black, 0.3);
      color: $yellow;
      line-height: 50px;
      .title {
        font-weight: bold;
        font-size: 22px;
      }
      .hora {
        font-style: italic;
      }
    }
    .mensagem {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
