{% extends layout %}

{% set comunicados = comunicados() %}

{% block main %}
    <div class="container py-3">
        <div class="page-title">
            <h1 class="title">
                <i class="fa fa-bullhorn"></i> Comunicados
            </h1>
        </div>
        {% if comunicados %}
            <div class="comunicados">
                {% for v in comunicados %}
                    <div class="card comunicado mb-3">
                        <div class="card-header bg-primary text-white">
                            <div class="row">
                                <div class="col comunicado-title font-weight-bold text-uppercase">{{ v.getTitle() }}</div>
                                <div class="col-auto text-warning font-weight-bold comunicado-hora">{{ v.getData(true) }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mensagem">{{ v.getMensagem()|raw }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i> Nenhum comnunicado no momento.
            </div>
        {% endif %}
    </div>
{% endblock %}