<!doctype html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>E-mail</title>

    <style>
        html, body {
            padding: 0;
            margin: 0;
            background-color: #ededed;
        }
    </style>

</head>
<body>

<div style="background-color: #ededed; padding: 20px;">

    <div style="width: 600px; max-width: 100%; padding: 15px; border: 1px solid #999; margin: 50px auto; background-color: white;">
        <div>
            {% block main %}{% endblock %}
        </div>
    </div>

</div>

</body>
</html>